body{
	padding:50px 0 0 200px; 
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #383838;
}
header .logo{
	float: left;
	width: 200px; height: 50px;
	background: url('../images/logo.png') no-repeat 10px center;
	text-indent: -99em;
}
nav{
	float: left;
}
.main-nav li{
	float: left;
	width: 82px;
}
.main-nav a{
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.main-nav a:hover{
	background: #656565;
}
.main-nav li.current,.main-nav li.current a{
	background: #86db00;
}
.user{
	position: relative;
	float: right;
	margin-right: 20px;
}

aside{
	position: fixed;
	left: 0;
	width: 200px;
	padding-top: 20px;
	background: #6b6b6b ;
}
aside .sub-nav{
	padding: 0 0 66px 15px;
}

aside h3{
	margin-right: 15px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
}
aside h3 .icon{
	display: inline-block;
	width: 12px; height: 20px;
	margin: 12px 5px 0 0;
	vertical-align: top;
	background: url('../images/open.png') no-repeat 0 0px;
}
aside h3 .icon-fold{
	background:url('../images/plus.png') no-repeat 0 0px;
}
aside .side-sub-menu{
	padding-left: 18px;
}
aside .side-sub-menu li{
	position: relative;
	margin: 2px 0 2px 0;
}
aside .side-sub-menu li a{
	padding: 6px 0;
	line-height: 20px;
	padding-left: 26px;
	display: block;
	color: #f1f1f1;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
aside .side-sub-menu li a:hover{
	background: #7c7c7c;
	margin-right: 1px;
}
aside .side-sub-menu li.current{
	background: url('../images/subnav_current.png') no-repeat 155px 10px #f1f1f1;
	color: #414141;
}
aside .side-sub-menu li.current a{
	color: #414141;
	background: none;
}